<footer class="partner-footer">
  <div class="partner-footer-info">
      <img src="./images/Kaspersky_Logo_White.png" alt="Kaspersky" class="partner-footer=img">
      <span class="partner-footer-text">© 2020 AO Kaspersky. All Rights Reserved
      </span>
      <div class="partner-footer-nav">
      <a href="#" class="partner-footer-link">•   Terms of use </a>
      <a href="#" class="partner-footer-link">•   Privacy Policy </a>
      <a href="#" class="partner-footer-link">•   Contacts</a>
  </div>
  </div>
      <div class="partner-sociats">
          <a href="#" title="facebook"><img src="./images/icons/facebook.svg" alt="facebook"></a>
          <a href="#" title="twitter"><img src="./images/icons/twitter.svg" alt="twitter"></a>
          <a href="#" title="linkeding"><img src="./images/icons/linkeding.svg" alt="linkeding"></a>
          <a href="#" title="yuotube"><img src="./images/icons/yuotube.svg" alt="yuotube"></a>
          <a href="#" title="instagram"><img src="./images/icons/instagram.svg" alt="instagram"></a>
      </div>
</footer>
