<header class="partner-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="partner-header-info">
                    <img src="./images/Kaspersky_Logo_White.png" alt="Kaspersky" class="partner-logo">
                    <h1 class="partner-title">Partner portal</h1>
                    <p class="partner-header-text">Follow these links to get yourself immediately onboard, productive, and working with our products and solutions</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="partner-header-img">
                    <img src="./images/Mask.png" alt="Mask">
                </div>
            </div>
        </div>
    </div>
</header>
